@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Mulish:wght@200;300&family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Mulish:wght@200;300&family=Poppins:wght@600&family=Volkhov&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

header {
  border-bottom: 1px solid #999;
}

.header-content h1 {
  font-family: "Volkhov", serif;
  color: #181e4b;
}

nav {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 50px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #f1a501;
  color: #fff;
  margin: 5px;
}

.dark-button {
  background-color: #333;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.input-container input {
  background: transparent;
  text-align: center;
  width: 80%;
  outline: none;
  padding-top: 40px;
  color: #fff;
  margin: 10px;
}

.input-container input[name="title"] {
  font-size: 2rem;
}

.input-container input[name="body"] {
  font-size: 1rem;
  padding-bottom: 180px;
}

.input-container input[type="file"] {
  display: none;
}

.text-icons li i {
  padding: 5px;
}

.change-display {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  font-size: 1.5rem;
}

.blank-slide {
  width: 200px;
  height: 200px;
  background-color: white;
  color: #333;
  position: absolute;
  top: 30%;
  left: 20%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.blank-slide p {
  padding: 5px;
}

.image-upload {
  color: #fafafa;
  border: 3px dashed #555;
  text-align: center;
  width: 80%;
  height: 200px;
}

.input-data {
  position: absolute;
  top: 12%;
  left: 60%;
}

.input-data input {
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: white;
  font-size: 14px;
  width: 300px;
}

.input-data button {
  background-color: rgb(133, 122, 236);
  padding: 5px;
  font-size: 14px;
  color: #fafafa;
  border-radius: 5px;
  border: none;
}
